header {
    text-align: center;
    background-color: #ffd54d;
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #c59f37;
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background: #8f6e00;
}
main {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 95, 95, 0.808);
}

article img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

.date {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.p{
    text-align: justify;

}